.App {
  text-align: center;
}

body {
  background-color: black;
  margin: 0;
  padding: 20px;
}

h1 {
  font-family: 'Star Wars';
  font-size: 72px;
  color: black;
  text-shadow: 2px 0 0 #ffd700, -2px 0 0 #ffd700, 0 2px 0 #ffd700,
    0 -2px 0 #ffd700;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 4px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ffd700;
  font-size: 16px;
  color: white;
}

th {
  background-color: #0a0a0a;
}

tr:nth-child(even) {
  background-color: #0a0a0a;
}

tr:hover {
  background-color: #1b1a1a;
}
