.loading,
.error {
  color: #ffd700;
}

.deleteButton {
  padding: 10px 15px;
  margin: 10px;
  background-color: #d15039;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #974312;
}

.sortButton {
  background-color: #0a0a0a;
  margin: 10px;
  border: none;
  color: #ffd700;
  cursor: pointer;
}

.action {
  width: 50px;
}
